{% extends "base.html" %}
{% block title %}Dividir PDF{% endblock %}
{% block body_class %}bg-dividir{% endblock %}
{% block content %}
<div class="card shadow p-5">
  <h2>✂️ Dividir PDF</h2>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="archivo" class="form-control my-3" required>
    <input type="text" name="paginas" placeholder="Ejemplo: 1,3-5" class="form-control my-3" required>
    <button type="submit" class="btn btn-warning">Dividir</button>
  </form>
</div>
{% endblock %}
